<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>News Aggregator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <br/>
    <h1>Агрегатор новостей</h1>
    <br/>

    <form action="#" th:action="@{/get}" th:object="${website}" method="post">
        <div class="form-group">
            <label>Адрес сайта:
                <input class="form-control" th:field="*{url}" placeholder="https://habr.com/ru"/>
            </label>

            <label>Тип документа:
                <input class="form-control" th:field="*{parseRule.docType}" placeholder="html/xml"/>
            </label>
            <label>Имя тега статьи:
                <input class="form-control" th:field="*{parseRule.postTagName}" placeholder="article"/>
            </label>
            <label>Имя класса названия статьи:
                <input class="form-control" th:field="*{parseRule.postTitleClass}" placeholder="post__title"/>
            </label>
            <label>Имя класса тела статьи:
                <input class="form-control" th:field="*{parseRule.postBodyClass}" placeholder="post__body"/>
            </label>
            <input class="btn btn-primary" type="submit" value="Поиск">
        </div>
    </form>

    <form action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
        <div class="form-group">
            <label>Поиск по заголовку:
                <input class="form-control" th:field="*{title}" placeholder="Заголовок новости"/>
            </label>
            <input class="btn btn-primary" type="submit" value="Поиск"/>
        </div>
    </form>

    <table class="table table-striped">
        <tr>
            <th width="100">Заголовок</th>
            <th width="200">Текст</th>
        </tr>

        <th:block th:each="post:${posts}">
            <tr>
                <td th:text="${post.title}"></td>
                <td th:text="${post.body}"></td>
            </tr>
        </th:block>
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>